.see-more {
  border-top: rem(1px) solid rgba(151, 151, 151, 0.7);
  padding: {
    top: rem(16px);
    bottom: rem(16px);
  }
  font-family: 'Open Sans', sans-serif;
  font-size: rem(14px);
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

  &:last-child {
    margin-top: rem(30px);
  }

  &:after {
    content: '';
    display: inline-block;
    width: rem(12px);
    height: rem(7.5px);
    background-image: url(resources/arrow.png);
    background-size: 100%;
    margin: {
      left: rem(10px);
      bottom: rem(2px);
    }
    transition: all 0.2s ease-in-out;
    //@include transform(rotate(180deg));
    transform: rotate(180deg);
  }

  .less {
    display: none;
  }

  &.open {
    .less {
      display: inline-block;
    }
    .more {
      display: none;
    }

    &:after {
      //@include transform(rotate(0deg));
      transform: rotate(0deg);
    }
  }
}

.btn {
  font-size: rem(16px);
  text-transform: uppercase;
  border-radius: 0;
  padding: rem(10px) rem(20px);
  border: 2px solid #000000;
  transition: all .2s ease;

  &:after {
    padding-left: rem(7px);
    font-size: rem(14px);
    content: '►';
  }

  &.btn-primary {
    vertical-align: middle;

    &:hover,
    &:active,
    &:focus {
      background: #fff;
      color: #000;
    }
  }

  &.btn-outline-info {
    font-size: rem(14px);
    border-width: rem(2px);
    color: #000;

    &:hover,
    &:active,
    &:focus {
      background: #000;
      color: #fff;
      border-color: #000;
    }
  }
}

.white-text {
  color: #fff;
  font-size: rem(14px);
  line-height: rem(23px);
  letter-spacing: rem(0.3px);
}

.white-title {
  font-family: 'Arial', sans-serif;
  font-weight: 100;
  font-size: rem(22px);
  color: white;
  letter-spacing: rem(0.2px);
}
.black-title {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: rem(22px);
  color: $brand-primary;
  letter-spacing: rem(0.2px);
}

.join-our-community {
  position: relative;
  background: $brand-info;
  padding: rem(60px) 0;
  margin: rem(10px) 0;

  &:before {
    position: absolute;
    z-index: -1;
    content: '';
    top: 0;
    left: -50%;
    height: 100%;
    width: 200%;
    background: $brand-info;
  }
}