header {
  background: #BDE9C9;
  padding: rem(50px) 0;

  .black-text {
    font-size: rem(16px);
    color: #000;
    margin: {
      top: rem(18px);
      bottom: rem(18px);
    }
  }

  a {
    font-weight: bold;
  }

  .btn {
    margin-top: rem(12px);
  }
}
