h1,
h2,
h3,
h4 {
  font-family: 'Arial Black', Arial, sans-serif;
}

h1 {
  font-family: Prestafont, "Arial Black", Arial, sans-serif;
  color: #000;
  font-size: rem(75px);
  margin-top: rem(10px);

  @media screen and (max-width: 640px) {
    font-size: rem(40px);
  }
}

h2,
h3,
h4 {
  letter-spacing: rem(0.2px);
  padding: rem(42px) 0;

  &.small-margin {
    padding: rem(30px) 0;
  }
}

h2 {
  font-size: rem(20px);
}
h3 {
  font-size: rem(16px);
}
h4 {
  font-size: rem(22px);
}
