@import 'util';

$grid-columns: 10;

$brand-primary: #000;
$brand-info: #A4DBE8;

$container-max-widths: (
  sm: rem(780px),
  md: rem(782px),
  lg: rem(960px),
  xl: rem(1000px),
);

@import '/node_modules/bootstrap/scss/bootstrap';

body {
  font-family: 'Arial', sans-serif;
  font-weight: 300;
  color: #000;
}

#app {
  overflow: hidden;
}

@import 'fonts';
@import 'titles';
@import 'header';
@import 'footer';
@import 'components';

@import 'section_1';
@import 'transition';
@import 'section_2';
